body {
  font-family: "Raleway", sans-serif;
  background-color: #050111;
  background-image:url(../img/nebulosa-transparente.png);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/nube-circuitos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
header p  {
 font-weight: 600;
  
}
.img-1{
  height: 200px;
}
.img-1 img {
  height: 300px;
  margin: -5% 0% 1%
  
 
 ;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
