body {
  font-family: "Raleway", sans-serif;
  background-color: #050111;
  background-image:url(../img/nebulosa-transparente.png);
}

nav{
  background: linear-gradient(180deg, #060213 41.67%, rgba(101, 0, 79, 0) 100%);
height: 150px;

}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/nube-circuitos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
header p  {
 font-weight: 600;
  
}
.img-1{
  height: 200px
;
}
.img-1 img {
  height: 300px;
  margin: -5% 0% 1%
  
 
 ;
}
.icon-2{
  height: 5em;
}
/* Mis trabajos */
#Mis-trabajos{
  background: rgba(255, 255, 255, 0.062);
  background-image: url(../img/Noise-Texture.png);
  flex-wrap: nowrap;
  
}

#Mis-trabajos .image-top {
  height: 250px;


}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}
.card {
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(2px);
}
.image-top img{
  height: 250px;
  width: 450px;
}
footer{
  background: rgba(255, 255, 255, 0.062);
  background-image: url(../img/Noise-Texture.png);
  
}




@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
  .container {
    width: 18rem;
  }

}
